<!DOCTYPE html>

	<head>
		<!-- Required meta tags -->
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />

		<title> ROBO PI APPLICATION </title>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>		
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

			
	</head>
	
	<body onload="getJsonData()">
		
		<script type="text/javascript">
			google.charts.load('current', { packages :['table'] });
			google.charts.setOnLoadCallback(drawTable);
			
			var tableData = [];			

			function getJsonData()
			{
				tableData = [];
				
				$.getJSON('/tableData', function(tableInfo)
				
				{
					console.log(tableInfo);
					for(i = 0; i < tableInfo.length; i++)
					{
						tableData.push([new Date(tableInfo[i].timeStamp), tableInfo[i].cam_status, tableInfo[i].status, tableInfo[i].robo_status]);
					};
				console.log(tableData);
					drawTable();
				});
				
			}
			
			function drawTable()
			{
				var data = new google.visualization.DataTable();
				data.addColumn('datetime', 'Timestamps');
				data.addColumn('string', 'Camera Says');
				data.addColumn('string', 'Button Says');
				data.addColumn('string', 'True or False?');
				data.addRows(tableData);

				var options =
				{
					title: 'How Are You Feeling',
					'width': '100%',
					'height': '100%'
				};

				var table = new google.visualization.Table(document.getElementById('emotion_div'));

				table.draw(data, options);
			}

		</script>


		<div class= "container-fluid">
			<p style="text-align: center; font-family:impact; font-size: 40px; font-style:bold; margin: 30"> ROBO PI </p>

			<p style="text-align: center; font-family:impact; font-size: 25px;"> By Lisa Liu, Anthony Allwood, & Lorenzo Galante </p>
		</div>

		<div class= "container-fluid">
			<p style="text-align: center; font-family:impact; font-size:40px; padding-top:30px"> HOW ARE YOU FEELING? </p>

			<div id="emotion_div"></div>
		</div>
		
		
	</body>

</html>
